<!DOCTYPE html>
<html>
    <head>
        <style>
            html, body {
                margin: 0;
                background-color: whitesmoke;
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <h1>Log in</h1>
        <form method="POST">
          Username: <br/>
          <input type="text" name="username_login"/> <br/>
          Password: <br/>
          <input type="password" name="password_login"/> <br/>
          <button type="submit">Log in!</button> <br/>
        </form>

        <h1>Sign-up</h1>
        <form method="POST">
          Username: <br/>
          <input type="text" name="username_signup"/> <br/>
          Password: <br/>
          <input type="password" name="password_signup"/> <br/>
          <button type="submit">Sign-up!</button> <br/>
        </form>
    </body>
</html>